.navbar-light .navbar-brand {
    color: white !important;
    

    margin: 0px 10%;

}

.div1{
    position: relative;
    height: 1000px;
    width: auto;
    background:  #149057;
}

.div2{
    position: absolute;
    background:white;
    width: 100%;
    height: 90%;
    top: -550px;
    transform: skewY(-30deg);
    overflow: hidden;
}

.quiz{
  
    border-style: none;
    width: 80%;
    height: 125%;
    margin-top: 170px;
    /* margin-left: 20px; */
    transform: skewY(27deg) !important;
    background-position: center;
    
}

.div3{
    position: absolute;
    top: 350px;
    right: 10%;
    
    color: white;
    max-width:600px;
    font-family: sans-serif;
}




.div4{
    position: absolute;
    background: #15cc6f;
    width: 100%;
    height: 300px;
    top: -200px;
    z-index: 3;
    transform: skewY(10deg);
}

a:hover{
    text-decoration: none !important;
    
}

.questButton:hover{
    background: #d62528;
    border: #d62528
}

.language{
    position: absolute;
    top: 15px;
    color: white;
    z-index: 3;
    right: 15px;
}

@media (max-width: 792px){
    .div1{
        height: 1250px;
    }
.quiz{
   
    width: 200%;
    margin-top: 40px;
    margin-left: 0px;
    transform: skewY(20deg) !important;
}

.div2{
    position: absolute;
    background:white;
    width: 100%;
    height: 900px;
    top: -490px;
    transform: skewY(-20deg);
    overflow: hidden;
}

.div3{
    top: 500px;
    left: 10%
}

.block{
  
    width: 35% !important;
    right: 33% !important;
 
}

.block2{
  
    width: 15% !important;
    right: 43% !important;
    top: 130px !important
 
}

.block3{
  
    width: 11% !important;
    right: 45% !important;
    top: 140px !important
 
}


}


#quest-card{

    border: 40px solid  #149057;
    border-radius: 40px;
}

.block{
    position: absolute;
    width: 15%;
    background: linear-gradient(180deg, #dcdcdc, #879096);
    height: 70px;
    top: 170px;
    right: 42%;
    border-radius: 15px;
    
    
}

.block2{
    position: absolute;
    width: 6%;
    background: linear-gradient(180deg, #dcdcdc, #879096);
    height: 70px;
    top: 120px;
    right: 46.5%;
    border-radius: 50px;
}

.block3{
    position: absolute;
    width: 4%;
    background: white;
    height: 70px;
    top: 130px;
    right: 47.5%;
    border-radius: 50px;
}

 .greendev{
    position: absolute;
    width: 100px;
    height: 200px;
    background: #66af66;
 }

 hr {
    width: 80% ;
    border: 0 ;
    border-top: 2px solid #00000061 !important ;
}

.questcard{
    background: linear-gradient(180deg,#6ed886,rgb(40 167 69 / 35%));
    border: white !important;
    color: white;
}

.dashed{
    width: 60%;
    height: 10px;
    border-bottom: 2px #dc3545;
    border-bottom-style: dashed;
}

.apexcharts-bar-area:nth-last-of-type(1){
    fill: rgb(0, 227, 150)!important
}


.apexcharts-bar-area:nth-last-of-type(2){
    fill:rgb(255, 69, 96) !important
}

.apexcharts-bar-area:nth-last-of-type(3){
    fill:rgb(119, 93, 208)  !important
}

.apexcharts-bar-area:nth-last-of-type(4){
    fill: rgb(0, 143, 251)   !important
}

.apexcharts-bar-area:nth-last-of-type(5){
    fill: rgb(254, 176, 25)   !important
}

.apexcharts-title-text{
    display: none
}

.apexcharts-subtitle-text{
    display: none
}


.footer{
    width: 100%;
    height: 60px;
    background: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: black;
    padding: 20px;
}

p{
    margin-bottom: .5rem !important;
}

.apexcharts-treemap-rect:nth-last-of-type(5){
    fill: rgba(254, 178, 25, 0.692)   !important
}

.apexcharts-treemap-rect:nth-last-of-type(4){
    fill: rgb(0, 142, 251)   !important
}

.apexcharts-treemap-rect:nth-last-of-type(3){
    fill:rgba(120, 93, 208, 0.582)  !important
}

.apexcharts-treemap-rect:nth-last-of-type(2){
    fill:rgba(255, 69, 97, 0.623) !important
}

.apexcharts-treemap-rect:nth-last-of-type(1){
    fill: rgb(0, 227, 151)!important
}